amqp==5.2.0
asgiref==3.8.1
billiard==4.2.1
blinker==1.4
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==43.0.1
dbus-python==1.2.18
defusedxml==0.8.0rc2
distlib==0.3.4
distro==1.7.0
dj-rest-auth==6.0.0
Django==5.1.1
django-allauth==65.0.2
django-cors-headers==4.4.0
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
djangorestframework==3.15.2
filelock==3.6.0
httplib2==0.20.2
idna==3.10
importlib-metadata==4.6.4
jeepney==0.7.1
jwcrypto==1.5.6
keyring==23.5.0
kombu==5.4.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.2
pillow==10.4.0
platformdirs==2.5.1
prompt_toolkit==3.0.48
psycopg==3.2.3
psycopg2-binary==2.9.9
pycparser==2.22
PyGObject==3.42.1
PyJWT==2.9.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-decouple==3.8
python3-openid==3.2.0
pytz==2022.1
PyYAML==5.4.1
requests==2.32.3
requests-oauthlib==1.3.1
SecretStorage==3.3.1
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
ssh-import-id==5.11
systemd-python==234
tweepy==4.14.0
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.3
vine==5.1.0
virtualenv==20.13.0+ds
wadllib==1.3.6
wcwidth==0.2.13
zipp==1.0.0
